---


---

<section class="luminix-hero-section section" style="background-image: url(/images/hero/bg-slider-Landing.jpg);"> 
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-lg-2">
          <div class="luminix-hero-thumb" data-aos="fade-left" data-aos-duration="700">
            <img src="/images/hero/html-y-css.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-7 d-flex align-items-center">
          <div class="luminix-hero-content3">
            <h1 data-aos="fade-up" data-aos-duration="700" class="hero-title">Sublimación en Temuco Poleras Jockey etc</h1>
            <p data-aos="fade-up" data-aos-duration="900" class="text">En ISO Sublimación, personalizamos tus ideas con impresión 
              por sublimación en Temuco. Diseñamos y estampamos poleras, jockeys, tazas, cojines, mouse pads y más, ideales para regalos, empresas y emprendedores.</p>
            <div class="hero-btn btn2 mt-50">
              <a href="#contacto" class="default-btn2 btn3" data-aos="fade-up" data-aos-duration="700">Contáctanos</a>
              <a href="#precio" class="default-btn3" data-aos="fade-up" data-aos-duration="900">Ver Precios</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <style>

    @media (max-width:  1224px) {
        h1.hero-title.aos-init.aos-animate {
        font-size: 86px;
        }
    }
    
    @media (max-width:  991px) {
        h1.hero-title.aos-init.aos-animate {
        font-size: 78px;
        }
    }
    @media (max-width: 767px) {
        h1.hero-title.aos-init.aos-animate {
            font-size: 62px;
            }
    }
  </style>